$base-color: #2f303a;
$divider-color: #ccc;
$dark-color: #202027;
$primary-color: #BC3A80;
$secondary-color: #2288e7;

.page-wrapper-first {
  z-index: 0;
  // min-height: 100vh;
}

.page-wrapper {
  z-index: 0;
  // min-height: calc(100vh - 1rem);
  padding: 8rem 4rem 15rem 4rem;
  @include media-breakpoint-up(md) {
    padding:17rem 7rem 15rem 7rem;
  }
}

